.active {
    border-bottom: 2px solid green;
}


.tabbedPane {
    padding:7px;
    text-decoration: none;
    color: black;
  
}

    .tabbedPane:hover {
        color:black;
        border-bottom: 2px solid green;
    }

.contStyle {
    height: 32px;
    margin-top: 20px;
    margin-bottom:20px;
  
}
