@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<body class="text-center">



    <img src="~/assest/aboutus.jpg"  style="margin-top:10px; margin-bottom:10px;"/>



</body>