
@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


<body>
    <div class="container-fluid" style="        height: 50px;
        margin-top: 20px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        background-color: #EBEBEB;
        margin-bottom: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-10 ">
                    <ul class="nav nav-tabs justify-content-center " style="border-bottom:1px solid black;;">
                        <li> @Html.ActionLink("All Questions", "Questions", null, new { @class = "tabbedPane active" })</li>
                        <li> @Html.ActionLink("My Questions", "Questions", null, new { @class = "tabbedPane" })</li>
                    </ul>
                </div>
                <div class="col-2">
                    @Html.ActionLink("filter", "Questions")
                </div>
            </div>
        </div>
    </div>


</body>